h1 {
    background-color: #cc9; 
    border:10px solid #f00; 
    padding: 5px;
    width: 25%;
    text-align: center;
    margin-left: 39%;
    }
    
    .center{
    background-color: #fc9; 
    border:20px solid #039; 
    padding: 15px;
    width: 25%;
    text-align: center;
    margin-left: 38%;
    }
    
    p.um {
    background-color: #ff9; 
    border:5px solid #f0f; 
    padding: 5px;
    width: 35%;
    text-align:justify;
    margin-left: 35%;
    }
    
    p.dois {
    background-color: #cff; 
    border:2px solid #039; 
    padding: 10px; 
    width:35% ;
    text-align:justify;
    margin-left: 35%;
    }