.arial
{
font-family: arial;
color: #007e7e;
}
.arial{
    font-family: arial;
    color:#007e7e;
}

.verde{
    font-family: Arial;
    
    color: green;
}
.azul{
    url(imagens/azul.jpg)
    font-family: Arial;
    color: blue;
}

.roxo{
    font-family: Arial;
    color: purple;
}

.azul{
    font-family: Arial;
     color: blue;
}
.marron{
    font-family: Arial;
    color: maroon;
}
.center{
    text-align:center;
    color: grey;
}























     


































